@using PostIt.Web.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Post

@inject IUserService userService

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

@{
    var user = userService.GetByUsername(User.Identity.Name);
}

<div class="text-center">
    <div class="post">
        <a style="maring-top: 10px;"> <img src="@Model.Author.ImageUrl" alt="profile picture" width="50" height="50" class="rounded-circle"/> @Model.Author.Username</a>
        <h1>@Model.Title</h1>
        <h4>@Model.Description</h4>
        <a>@Model.TimeAdded</a>
        
        <p>

            @if(Context.User.Identity.IsAuthenticated) 
            {
                if (!Model.Likes.Contains(user))
                {
                    <a asp-action="Like" asp-controller="Home" asp-route-id="@Model.Id">🤍 @Model.Likes.Count</a>
                }
                else if (Model.Likes.Contains(user))
                {
                    <a asp-action="Unlike" asp-controller="Home" asp-route-id="@Model.Id">&#10084; @Model.Likes.Count</a>
                }
            }
            
            <a>&#128488; @Model.Comments.Count</a> 
        
        </p>
    </div>
    
    <p> Comments: </p>
    @foreach (var comment in Model.Comments.Where(modelComment => modelComment.Reply == false))
    {
        <div class="comments_section">
            <a> <img src="@comment.Author.ImageUrl" alt="profile picture" width="30" height="30" class="rounded-circle"/> @comment.Author.Username</a>
            <h5>@comment.Content</h5>
            
            @{
                var ago = DateTime.Now.Subtract(DateTime.Parse(comment.TimeAdded));

                var formattedTimeSpan = string.Format("{0:D2} hrs, {1:D2} mins, {2:D2} secs", ago.Hours, ago.Minutes, ago.Seconds);
            }
            
            <a>@formattedTimeSpan ago</a>
            
            <a id="reply-btn" onclick="Reply()">Reply</a>
            
            <div id="reply">
                @using (Html.BeginForm("Reply", "Post", FormMethod.Post))
                {
                    <input type="text" name="content" placeholder="Reply..." />
                    
                    <input type="number" name="id" value="@comment.Id" hidden/>
                    <input type="number" name="postId" value="@Model.Id" hidden/>
                    <input type="text" name="username" value="@User.Identity.Name" hidden/>
            
                    <input type="submit" value="&#128488;" />
                }
            </div>
            
            <div id="replies">
                <hr/>
                @foreach (var reply in comment.Comments ??= new())
                {
                    <a> <img src="@reply.Author.ImageUrl" alt="profile picture" width="30" height="30" class="rounded-circle"/> @reply.Author.Username</a>
                    <h5>@reply.Content</h5>

                    var agoReply = DateTime.Now.Subtract(DateTime.Parse(reply.TimeAdded));

                    var formattedTimeSpanReply = string.Format("{0:D2} hrs, {1:D2} mins, {2:D2} secs", agoReply.Hours, agoReply.Minutes, agoReply.Seconds);

                    <a>@formattedTimeSpanReply ago</a>

                    <br/>
                    <hr/>
                }
            </div>
            
        </div>
    }

    @using (Html.BeginForm("Comment", "Post", FormMethod.Post))
    {
        <input type="text" name="content" placeholder="Comment..." />

        <input type="number" name="id" value="@Model.Id" hidden/>
        <input type="text" name="username" value="@User.Identity.Name" hidden/>

        <input type="submit" value="&#128488;" />
    }

</div>

<style>
    a {
        text-decoration: none;
        color: black;
    }

    .post {
        background-color: rgb(237, 235, 235);
        width: 80%;
        height: 200px;
        border: 1px solid black;
        margin: 10px auto 0;
        padding-top: 5px;
    }
    
    .comments_section {
        background-color: rgb(237, 235, 235);
        width: 40%;
        height: 100%;
        border: 1px solid black;
        margin: 10px auto 0;
        padding: 5px;
    }
    form {
        margin-top: 10px;
    }
    
    #reply {
        display: none;
    }
    
    #reply:hover {
        cursor: pointer;
    }
</style>

<script>
let reply = document.getElementById('reply');
let replyBtn = document.getElementById('reply-btn');

let clicked = false;

function Reply() {
   
    console.log("clicked");
    
    if (!clicked) {
        reply.style.display = 'none';
        clicked = true;
    }
    else {
        reply.style.display = 'block';    
        clicked = false;
    }
}
</script>