@model User

@{
    ViewBag.Title = $"- {Model.Username}";
    Layout = "_Layout";
}

<img src="@Context.User.Claims.Last(x => x.Issuer == "Google").Value;" alt="Profile Picture" width="60" height="60"> 

<b> <p>@Model.Name</p> </b>
<a>&#64;@Model.Username</a>
<br/>
<p>Jonied @Model.CreatedOn</p>

<div class="">
    <p>Posts : @Model.Posts.Count</p>
    <hr/>
    @foreach (var post in Model.Posts)
    {
        <hr/>
        <p>@post.Author.Name | &#64;@post.Author.Username | @post.TimeAdded</p>
        <p>@post.Title</p>
        <p>@post.Description</p>
        <hr/>
    }
</div>

<hr class="text-black"/>

<div class="">
    <p>Liked Posts : @Model.LikedPosts.Count</p>
    <hr/>
    @foreach (var post in Model.LikedPosts)
    {
        <hr/>
        <p>@post.Author.Name | &#64;@post.Author.Username | @post.TimeAdded</p>
        <p>@post.Title</p>
        <p>@post.Description</p>
        <hr/>
    }
</div>

<div>
    <a asp-controller="Authentication" asp-action="GoogleLogout">Log out</a>
</div>