@using PostIt.Web.Services.Posts
@using PostIt.Web.Services
@model User
@inject IPostService _postService
@inject IUserService _userService

@{
    ViewBag.Title = $"- {Model.Username}";
    Layout = "_Layout";
}

@{
    var user = _userService.GetByUsername(User.Identity.Name);
}
<div id="bg" style="background-image: url(@Model.BackgroundUrl);" >
    <div style="width: 60px; height: 60px; background-color: gray;" class="rounded-circle">
        <img src="@Model.ImageUrl" alt="Profile Picture" width="60" height="60"> 
    </div>
</div>


<b> <p>@Model.Name</p> </b>
<a>&#64;@Model.Username</a>

<br/>
<p>Jonied @Model.CreatedOn</p>


@if (!Model.Equals(_userService.GetByUsername(User.Identity.Name)))
{
    @if (user!.Following.Any(x => x.UserId == Model.Id) || user.Following.Count == 0)
    {
        <a asp-action="Follow" asp-controller="Home" asp-route-id="@Model.Id">Follow</a>
    }
    else 
    {
        <a>Following</a>
        <a asp-action="Unfollow" asp-controller="Home" asp-route-id="@Model.Id">Unfollow</a>
    }

    @if (user.BlockedUsers.Any(x => x.BlockedUserId != Model.Id) || user.BlockedUsers.Count == 0)
    {
        <a asp-action="Block" asp-controller="Profile" asp-route-username="@Model.Username"> Block </a>
    }
    else 
    {
        <a asp-action="Unblock" asp-controller="Profile" asp-route-username="@Model.Username"> Unblock </a>
    }
}


<div class="">
    <p>Posts : @Model.Posts.Count</p>
    <hr/>
    @foreach (var post in _postService.GetAllYours(Model.Username))
    {
        <hr/>
        <p>@post.Author.Name | &#64;@post.Author.Username | @post.TimeAdded</p>
        <p>@post.Title</p>
        <p>@post.Description</p>
        <hr/>
    }
</div>

<hr class="text-black"/>

<div class="">
    <p>Liked Posts : @Model.PostLiked.Count</p>
    <hr/>
    @foreach (var post in _postService.GetAllLiked(Model.Username))
    {
        <hr/>
        <p>@post.Author.Name | &#64;@post.Author.Username | @post.TimeAdded</p>
        <p>@post.Title</p>
        <p>@post.Description</p>
        <hr/>
    }
</div>

<div class="">
    <p>Followers : @Model.Followers.Count</p>
    <hr/>

</div>

<div class="">
    <p>Following : @Model.Following.Count</p>
    <hr/>

</div>

<div>
    <a asp-controller="Authentication" asp-action="GoogleLogout">Log out</a>
</div>