@using PostIt.Web.Dtos.Search
@using PostIt.Web.Services
@model Search?
@inject IUserService _userService

@{
    ViewBag.Title = "Search";
    Layout = "_Layout";
}

@{
    if (Model is null)
    {
        <h2>Couldn't find anything</h2>
    }
    else
    {
        
        <h2>Results: </h2>
        
        var user = _userService.GetByUsername(User.Identity.Name);

        foreach(var u in Model.Users) 
        {
            <a asp-controller="Profile" asp-action="Index" asp-route-username="@u.Username">
                <img src="@u.ImageUrl" alt="Profile Picture" width="30" height="30" class="rounded-circle">
                <a asp-action="Index" asp-controller="Profile" asp-route-username="@u.Username">@u.Username</a>
            </a>
        }

        <hr />

        foreach (var post in Model.Posts)
        {
        <h4>@post.Title</h4>

        <p>@post.Description</p>
        <a>@post.TimeAdded |</a> 
        <a asp-action="Index" asp-controller="Profile" asp-route-username="@post.Author.Username">@post.Author.Username</a>

            if (User.Identity.IsAuthenticated)
            {
                if (post.Author.Username == Context.User.Identity.Name)
                {
                    <a asp-action="Delete" asp-controller="Home" asp-route-id="@post.Id">Delete</a>
                }

                if (!post.Author.Equals(user) && !user!.Following.Contains(new Following { FollowingId = post.Author.Id}))
                {
                    <a asp-action="Follow" asp-controller="Home" asp-route-id="@post.Author.Id">Follow</a>
                }
                
                if (!post.Likes.Contains(user))
                {
                    <a asp-action="Like" asp-controller="Home" asp-route-id="@post.Id">Like</a>
                }
                else if (post.Likes.Contains(user))
                {
                    <a asp-action="Unlike" asp-controller="Home" asp-route-id="@post.Id">Unlike</a>
                }
            }
                
            <p> <a>&#10084; @post.Likes.Count</a> </p>
                
            <hr/>
        }
    }
}
