@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Post>

@{
    ViewData["Title"] = "Home Page";
}

@if (Context.User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome @Context.User.Identity.Name !</h1>
        
        <p>
            <a asp-controller="Authentication" asp-action="GoogleLogout">Log out</a>
            <a asp-action="Post" asp-controller="Home">Write a Post!</a>
        </p>
        
        <div class="main-posts">
            @foreach (var post in Model)
            {
                <a>@post.Id</a><h4>@post.Title</h4>

                <p>@post.Description</p>
                <a>@post.TimeAdded | @post.Author.Username</a>
                  @if (post.Author.Username == Context.User.Identity.Name)
                  {
                      <a asp-action="Delete" asp-route-id="@post.Id">Delete</a>
                  }
                <hr/>
            }
        </div>
        
    </div>
}
else
{
    <p class="text-center">Please
    
        <a asp-controller="Authentication" asp-action="GoogleLogin">Log In</a>
        
        in order to use this App
    </p>
}

