@using Microsoft.AspNetCore.Mvc.TagHelpers
@using PostIt.Web.Services
@model IEnumerable<Post>

@inject IUserService _userService

@{
    ViewData["Title"] = "Home Page";
}

@if (Context.User.Identity.IsAuthenticated)
{
    var user = _userService.GetByUsername(User.Identity.Name);
    
    <div id="who_to_follow" class="w-25 h-auto">
        <h5>Who to follow?</h5>
        @{
            var users = _userService.GetMostFollowedDesc(5, user.Username);
        }

        @for (var i = 0; i < users.Count; i++)
        {
            <div>
                <h6>
                    <img alt="profile" src="@users[i].ImageUrl" width="20" height="20" class="rounded-circle"/>
                    <a asp-action="Index" asp-controller="Profile" asp-route-username="@users[i].Username">@users[i].Username</a>
                </h6>

                <a>Followers: @users[i].Followers.Count</a>
                
                @{
                    var a = user!.Following.Contains(new Following { FollowingId = users[i].Id });
                }

                @if (a == false || user.Following.Count == 0)
                {
                    <a asp-action="Follow" asp-route-id="@users[i].Id">Follow</a>
                }
                  
                <hr />
            </div>
        }

    </div>
    
    <div class="text-center">
        <h1 class="display-4">Welcome @Context.User.Identity.Name !</h1>
        
        <p>
            <a asp-action="Post" asp-controller="Home">Write a Post!</a>
        </p>
        
        <div class="main-posts">
            @foreach (var post in Model)
            {
                
                <div class="post">
                    <a asp-action="Index" id="a" asp-controller="Post" asp-route-id="@post.Id">
                        <h4> @post.Title </h4>

                        <p> @post.Description </p>
                        <a>@post.TimeAdded |</a> 
                        <a asp-action="Index" asp-controller="Profile" asp-route-username="@post.Author.Username">@post.Author.Username</a>
                
                        @if(!string.IsNullOrEmpty(post.MediaLink))
                        {
                            <img src="@post.MediaLink" alt="Image" style="width: 30vw; height: 20vh;" />
                        }

                        @if (post.Author.Username == Context.User.Identity.Name)
                        {
                            <a asp-action="Delete" asp-route-id="@post.Id">Delete</a>
                        }
                
                        @if (!post.Likes.Contains(user))
                        {
                            <a asp-action="Like" asp-route-id="@post.Id">Like</a>
                        }
                        else if (post.Likes.Contains(user))
                        {
                            <a asp-action="Unlike" asp-route-id="@post.Id">Unlike</a>
                        }

                        <p> <a>&#10084; @post.Likes.Count</a>  <a>&#128488; @post.Comments?.Count</a> </p>
                    </a>
                </div>
              
            }
        </div>
        
    </div>
}
else
{
    <p class="text-center">Please
    
        <a asp-controller="Authentication" asp-action="GoogleLogin">Log In with google</a> <br/>
        <a asp-controller="User" asp-action="Create">Create new account</a> <br/>
        <a asp-controller="User" asp-action="Login">Log In</a> <br/>
        
        in order to use this App
    </p>
}

<style>

.post {
    background-color: #cdc5bf;
    width: 80%;
    height: 200px;
    border: 1px solid black;
    margin: 0 auto;
}

a#a {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

</style>